VITE_SUPABASE_URL=https://sitfklaxhtveepdwtmxw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpdGZrbGF4aHR2ZWVwZHd0bXh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMzQ1MjksImV4cCI6MjA5ODcxMDUyOX0.0oXet7CLw9odsxUFlpOpsG1NdrFRwHZvCcDKL6yeDpo
